.teamphoto {
    border-radius: 50%;
    text-align: center;
    margin: auto;
    max-width: 100%;
    height: auto;
    transition: 0.1s transform ease-in-out;
  }
  
  
  .teamphoto:hover {
    transform: scale(0.9);
    cursor: pointer;
  }


  .teammember h4 {
    max-width: 200px;
    letter-spacing: -1px;
  }
  