@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

#landing-text {
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 6rem;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Calistoga', cursive;
}

h6 {
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: capitalize;
    line-height: 2rem;
}